* {
  text-transform: uppercase;
}

body {
  background-color: var(--clr-primary);

  font-size: 2em;
}

#page-title {
  font-size: 2.5em;
  /* border-radius: var(--border-small); */

  margin-bottom: 3rem;

  padding: 1.5rem;

  font-weight: 600;

  text-align: center;

  background-color: var(--clr-main);
  color: var(--clr-complementary);
}

main {
  width: fit-content;

  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;

  text-align: center;

  gap: 3rem;
}

.main-title {
  color: var(--clr-complementary);
  margin-bottom: 2rem;
  font-weight: 100;
  font-size: 0.6em;
}

/* Main Grid */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-direction: column;
  gap: 2rem;
}

.flex-grid-row {
  margin-left: auto;
  margin-right: auto;

  width: fit-content;
  display: flex;

  grid-template-columns: repeat(3, auto);

  gap: 2rem;
}

.card {
  /* --l-image: url(https://s2.glbimg.com/TFjfyLyxWzgqwhY0_NUeEbTYE8s=/0x600/s.glbimg.com/po/tt2/f/original/2013/08/30/g5.jpg); */

  display: flex;
  position: relative;
  grid-template-columns: 1fr 0;

  margin-right: auto;
  /* margin-left: auto; */

  background-color: var(--clr-complementary);

  border-radius: var(--border-small);

  overflow: hidden;

  height: 15rem;
  width: 15rem;
}
.card::before {
  position: absolute;
  z-index: 10;

  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);

  transition: background-color var(--transition-fast);
}
.card:hover::before {
  background-color: rgba(0, 0, 0, 0.75);
}

.card-open-project {
  --l-color: white;
  --l-color-complementary: black;

  position: absolute;
  content: "Abrir Projeto";

  width: fit-content;
  height: fit-content;

  margin: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;

  font-size: 0.5em;
  font-weight: 600;

  padding: 0.5rem;

  color: var(--l-color);
  border: 0.15rem solid var(--l-color);

  border-radius: var(--border-small);

  cursor: pointer;

  z-index: 20;

  transition: color var(--transition-fast),
    background-color var(--transition-fast);
}
.card-open-project:hover {
  background-color: var(--l-color);
  color: var(--l-color-complementary);
}
.card-open-project::after {
  content: "abrir projeto";
}

.card-image {
  width: 100%;
  height: 100%;

  /* border-radius: var(--border-small); */

  background-image: var(--l-image);
  background-size: cover;
  background-position: center center;
}

.card-title {
  background-color: var(--clr-main);
  color: var(--clr-complementary);

  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  font-size: 0.75em;
  font-weight: 600;
  text-align: center;

  overflow: hidden;

  /* border-radius: var(--border-small) var(--border-small) 0 0; */
  padding: 0.25rem 0.5rem;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
