*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;

  min-height: fit-content;
  height: 100%;

  min-width: fit-content;
}

:root {
  /* Colors */
  --clr-main: rgb(143, 0, 210);
  --clr-main-dark: rgb(87, 0, 128);
  --clr-main-darker: rgb(60, 0, 88);

  --clr-primary-light: rgb(60, 60, 60);
  --clr-primary: rgb(40, 40, 40);
  --clr-primary-dark: rgb(20, 20, 20);
  --clr-primary-darker: rgb(10, 10, 10);

  --clr-complementary: rgb(255, 255, 255);
  --clr-complementary-dark: rgb(220, 220, 220);
  --clr-complementary-dark: rgb(220, 220, 220);

  /* Borders */
  --border-small: 0.5rem;

  /* Transition */
  --transition-fast: 150ms;
  --transition-medium: 300ms;
  --transition-slow: 450ms;

  /* Sizes */
  --page-header-height: 6rem;
  --button-size: calc(var(--page-header-height) / 1.75);
  --icon-size: calc(var(--button-size) / 1.5);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  border: none;

  cursor: pointer;
}
button a {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

body {
  text-transform: uppercase;

  transition: var(--transition-medium);
}
body.light-mode {
  --clr-primary-light: rgb(60, 60, 60);
  --clr-complementary: rgb(40, 40, 40);
  --clr-complementary-dark: rgb(20, 20, 20);
  --clr-complementary-darker: rgb(10, 10, 10);

  --clr-primary-light: rgb(255, 255, 255);
  --clr-primary: rgb(238, 238, 238);
  --clr-primary-dark: rgb(192, 192, 192);
  --clr-primary-darker: rgb(170, 170, 170);
}

#page-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  font-size: 1.3em;
  /* border-radius: var(--border-small); */

  height: var(--page-header-height);

  font-weight: 600;

  text-align: center;

  background-color: var(--clr-main-dark);
  color: white;
}

#page-header-left,
#page-header-middle,
#page-header-right {
  --header-padding: 2rem;

  gap: var(--header-padding);

  display: flex;
  align-items: center;

  padding: 0 var(--header-padding);
}

#page-header-left {
  grid-column: 1;
  height: var(--page-header-height);
}

#page-header-middle {
  grid-column: 2;
  height: var(--page-header-height);
  justify-content: center;
}

#page-header-right {
  grid-column: 3;
  height: var(--page-header-height);
  justify-content: right;
}

.circle-button {
  height: var(--button-size);
  width: var(--button-size);

  background-color: var(--clr-main);

  border-radius: 50%;
}
.circle-button i {
  font-size: var(--icon-size);
  height: 100%;
  width: 100%;

  color: white;
}

.icon {
  font-size: var(--icon-size);
  display: flex;
  align-items: center;
}

.header-icon-button {
  height: 100%;

  cursor: pointer;
}

a {
  display: block;

  width: 100%;
  height: 100%;
}
